*.pyc
*.xml
*.iml
/csRecruitz_codebase/cs_venv
/csRecruitz_codebase/cs_venv/
/csRecruitz_codebase/first_module/__pycache__/
/csRecruitz_codebase/react_frontend/package-lock.json
/csRecruitz_codebase/react_frontend/package.json
/csRecruitz_codebase/node_modules
/csRecruitz_codebase/node_modules/
csRecruitz_codebase/react_frontend/package-lock.json
csRecruitz_codebase/react_frontend/package.json
csRecruitz_codebase/package-lock.json
csRecruitz_codebase/package.json
/csRecruitz_codebase/package-lock.json
/csRecruitz_codebase/package.json
csRecruitz_codebase/csRecruitz_codebase/settings.py
csRecruitz_codebase/csRecruitz_codebase/settings.py
/csRecruitz_codebase/first_module/migrations/
/csRecruitz_codebase/first_module/migrations/0001_initial.py
csRecruitz_codebase/first_module/migrations/0001_initial.py
csRecruitz_codebase/first_module/migrations/0001_initial.py
csRecruitz_codebase/first_module/migrations/0001_initial.py
